html {
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.screen {
    width: 100%;
    min-height: 100vh;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 8in;
    padding: 0.25in;
    margin: auto;
}

.logo {
    max-width: 15em;
}

.orgname {
    font-size: 64px;
    font-family: "futura-pt", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0.1em 0;
}

.tagline {
    color: #444
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: large;
    margin: 1.5em 0;
}

.btn {
    padding: 0.5em 1em;
    border: 2px solid #444;
    border-radius: 0.5em;
    text-decoration: none;
    color: #444;
    margin: 0 0.25em;
}

@media print {
    html {
        font-size: medium;
    }
}